<h2> Reservation List</h2>

<ul *ngIf="reservations.length; else noReservation">
    <li *ngFor="let reservation of reservations">
        Guest : {{reservation.guestName}}
        GuestEmail : {{reservation.guestEmail}}
        Room Number : {{reservation.roomNumber}}
        Check In Date : {{reservation.checkInDate}}
        Check out Date : {{reservation.checkOutDate}}
        <button (click)="deleteReservation(reservation.id)"> Delete </button>
        <button [routerLink]="['/edit', reservation.id]"> Edit </button>
    </li>
</ul>


<ng-template #noReservation> 
    <p> No Reservation Available.</p>
</ng-template>